<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
              {% if messages %}
                {% for message in messages %}
                  <p style="color: #ff4d4d; font-size: 0.85rem; margin-top: 10px; font-weight: bold;">
                    {{ message }}
                  </p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </form>
        
        <br>
        <div style="font-size: 0.9rem; opacity: 0.8;">
            Нямаш профил? 
            <a href="{{ url_for('register') }}" style="color: #6c63ff; font-weight: bold; text-decoration: none;">Регистрирай се тук</a>
        </div>
    </div>

</body>
</html>